body{
    background-color: black;
}
h1{
    color: green;
}
#bt1{
    border:6px solid;
    border-color: red;
    border-radius: 30px;
    height:100px ;
    width:300px ;
    background-color: aqua;
    font-size: 20px;
}
#resultado{color: aqua;}